@use '@angular/material' as mat;

.search-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: mat.get-color-from-palette(mat.$grey-palette, 50);
  border-radius: 8px;
  margin-bottom: 24px;

  @include mat.elevation(2);

  .search-field {
    width: 100%;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .subbreed-toggle {
    align-self: flex-start;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: center;

    .search-field {
      flex: 1;
    }
  }
}