<div class="breeds-page">
  <app-breed-search (searchChange)="onSearch($event)" (breedSelected)="onBreedSelected($event)" 
  [breeds]="breeds$ | async"/>
  <!-- <app-breed-search (breedSelected)="onBreedSelected($event)" /> -->

  <!-- Loading State -->
  <mat-progress-bar
    *ngIf="isLoading$ | async"
    mode="indeterminate"
    color="primary"
  />

  <!-- Error State -->
  <div *ngIf="error" class="error-message">
    <mat-icon color="warn">error_outline</mat-icon>
    <span>{{ error }}</span>
  </div>

  <app-breed-list
    [selectedBreeds]="selectedBreeds$ | async"
    (imagesLoaded)="handleImagesLoaded($event)"
  />

  
  
  <!-- <div class="selected-breed-images" *ngIf="(selectedBreed$ | async)?.images?.length > 0">
    <h2>Selected Breed Images</h2>

    <div class="image-grid">
      <div *ngFor="let image of (selectedBreed$ | async)?.images" class="image-card">
        <img [src]="image.url" [alt]="image.breedName" class="thumbnail" />
        <div class="image-info">
          <h3>{{ image.breedName }}</h3>
          <p *ngIf="image.subBreedName">{{ image.subBreedName }}</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
